{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="container content">
    <div class="row">
        <div class="col-2">Hello {{ current_user.username }}</div>
        <div class="col-6">
            <div class="tweet-body container-fluid">
                <h3>
                    <a href="{{ url_for('views.view_profile', user_id=tweet.user_id) }}">{{tweet.tweet_author.username}}</a>
                </h3>
                <p class="card-text">{{ tweet.content }}</p>
                {% if tweet.image_src %}
                <img src="{{ tweet.image_src }}" onerror="this.style.display='none'" class="card-img-top">
                {% else %}
                <img src="Error.src" onerror="this.style.display='none'" class="card-img-top">
                {% endif %}
                <div class="row">
                    <div class="col-4 sub-buttons">
                        <a class="icons" href="{{ url_for('views.reply', tweet_id=tweet.id) }}">
                            <i class="fa fa-regular fa-comment"></i>
                            <span>0</span>
                        </a>
                    </div>
                    <div class="col-4 sub-buttons">
                        <a class="icons" href="">
                            <i class="fa fa fa-retweet"></i>
                            <span>0</span>
                        </a>
                    </div>
                    <div class="col-4 sub-buttons">
                        <a class="icons" href="">
                            <i class="fa fa-regular fa-heart"></i>
                            <span>0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <form method="POST" enctype="multipart/form-data" id="tweet-area">
                    <label for="reply-text" class="form-label"></label>
                    <textarea class="form-control" id="reply-text" name="reply-text"
                              rows="3" placeholder="Tweet your reply"></textarea>
                    <br>
                    <input type="text" name="image_src"/>
                    <button type="submit" class="btn btn-primary tweet">Tweet</button>
                </form>
            </div>

            <div class="replies">
                {% for reply in tweet.replies %}
                <p> {{ reply.content }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-title">Who to follow</h5>
                {% for user in users %}
                <div class="card-body">
                    <h5>{{ user.username }}</h5>
                    <form method="POST" action="{{ url_for('views.follow_profile', user_id=user.id) }}">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}