/* Body Style */

body{
    background-color: rgb(21,32,43);
    color: rgb(247, 249, 249);
    font-size: 16px;
}

p{
    color: rgb(247, 249, 249);
}

/* Login and Signup Page */

.signup-login {
    width: 25%
}

/* Nav Bar */

.navbar{
    margin-bottom: 3%;
    background-color: rgb(30, 39, 50);
}

.nav-link, .navbar-brand{
    color: rgb(247, 249, 249);
}

.nav-link:hover, .navbar-brand:hover{
    color: rgb(247, 249, 249);
    text-decoration: underline;
}

/* Left Column */

.left-col{

}

/* Middle Column */

#tweet-area, #reply-area{
    margin: 0 10%;
    padding-bottom: 5%;
}

textarea.form-control, textarea.form-control:focus{
    color: rgb(247, 249, 249);
    background-color: transparent;
    overflow: auto;
    border-radius: 0;
    border: none;
    resize: none;
    border-width: 0px;
    -webkit-box-shadow: none;
    padding: 0;
}

.form-control::placeholder {
    color: rgb(247, 249, 249);
}

.tweet-body.container-fluid{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: rgb(56, 68, 77);
    border-Top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

p.card-text{
    margin-left: 10%;
    margin-bottom: 5px;
}

h3 a{
    color: rgb(247, 249, 249);
    background-color: transparent;
    text-decoration: none;
    margin-left: 10%;
}

img.card-img-top{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 35px;
    max-width: 80%;
    max-height: 700px;
    margin:auto;
    display:block;
}

a.icons:link {
    background-color: transparent;
    text-decoration: none;
}

.fa {
    color: rgb(139, 152, 165);
    padding-right: 5%;
}

.heart-red{
    color: rgb(249,24,128);
}

.retweet-green{
    color: #00BA7C;
}

.sub-buttons{
    text-align:center;
}

span{
    color: rgb(139, 152, 165);
}

.red{
    color: rgb(249,24,128);
}

.green{
    color: #00BA7C;
}

.reply, .tweet{
    border-color: rgb(56, 68, 77);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
}

.container.profile{
    border-color: rgb(56, 68, 77);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    padding: 5% 10%;
}

h2{
    display:inline
}

.profile-follow-btn{
    display:inline;
    float:right;
}

p.follow{
    line-height: 3rem;
}

a.follow{
    background-color: transparent;
    text-decoration: none;
    color: rgb(139, 152, 165);
    padding-right: 3%;
}

a.follow:hover{
    text-decoration:underline;
}

/* Right Column */

.right-col{

}

.card{
    background-color: rgb(30, 39, 50)
}

h5 {
    color: rgb(247, 249, 249);
}

h5.card-title{
    padding: 16px;
}